<div fxLayout='row wrap'>
    <div fxFlex="100%">
        <p-menubar>
            <ng-template pTemplate="end">
                <p-dropdown (onChange)="onChangeAccount($event.value)" [style]="{width: '360px'}" [options]="contas" [(ngModel)]="selectedConta" optionLabel="numero" [filter]="true" filterBy="numero" [showClear]="false" placeholder="Conta">
                    <ng-template pTemplate="selectedItem">
                        <div fxLayout="row wrap" *ngIf="selectedConta">
                            <div fxFlex="80%">
                                <i class="pi pi-user" style="font-size: 0.8em"></i> {{selectedConta.titular}}
                            </div>
                            <div fxFlex="80%">
                                Número: {{selectedConta.numero}}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-conta pTemplate="item">
                        <div fxFlex="30%">
                            <i class="pi pi-user" style="font-size: 0.8em"></i> {{conta.titular}}
                        </div>
                        <div fxFlex="80%">
                            Número: {{conta.numero}}
                        </div>
                    </ng-template>
                </p-dropdown>
            </ng-template>
        </p-menubar>
    </div>
    <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <!--  PAINEL/FORM  TRANSFERENCE -->
        <div fxFlex.gt-md="30%" fxFlex.gt-sm="100%" fxLayout="row wrap" fxLayoutAlign="center center">
            <p-panel fxFlex="100%" fxLayout="row wrap">
                <ng-template pTemplate="header">
                    Transferencia
                </ng-template>
                <ng-template pTemplate="body">
                    <form [formGroup]="frmTransference" (ngSubmit)="onSubmitTransference(frmTransference.value)" fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxLayout="row wrap" fxFlex="100%">
                            <label [style]="{width: '360px'}"  for="accountDestiny">Conta de Destino:</label>
                            <p-dropdown formControlName="accountDestiny" inputId="accountDestiny" [autoDisplayFirst]="false" [style]="{width: '360px'}" [options]="contasDestiny"  optionLabel="numero">
                                <ng-template let-conta pTemplate="selectedItem">
                                    <div fxFlex="80%">
                                        <i class="pi pi-user" style="font-size: 0.8em"></i> {{conta.titular}}
                                    </div>
                                    <div fxFlex="80%">
                                        Número: {{conta.numero}}
                                    </div>
                                </ng-template>
                                <ng-template let-conta pTemplate="item">
                                    <div fxFlex="80%">
                                        <i class="pi pi-user" style="font-size: 0.8em"></i> {{conta.titular}}
                                    </div>
                                    <div fxFlex="80%">
                                        Número: {{conta.numero}}
                                    </div>
                                </ng-template>
                            </p-dropdown>    
                            <p-message *ngIf="!frmTransference.controls['accountDestiny'].valid && frmTransference.controls['accountDestiny'].dirty" severity="error" text="É necessario ao menos uma conta de destino!"></p-message>                        
                        </div>
                        <div fxLayout="row wrap" fxFlex="100%" style="margin-top: 12px;">
                            <label [style]="{width: '360px'}"  for="valueTransference">Valor da Transferencia:</label>
                            <div [style]="{width: '360px'}" class="p-inputgroup">
                                <span class="p-inputgroup-addon">$</span> 
                                <p-inputNumber (onInput)="onChangeAccountTransference()" (ngChange)="onChangeAccountTransference()" (ngModelChange)="onChangeAccountTransference()" formControlName="valueTransference" inputId="valueTransference"  mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
                                <p-message *ngIf="!frmTransference.controls['valueTransference'].valid && frmTransference.controls['valueTransference'].dirty" severity="error" text="O valor minimo é R$ 3.3"></p-message>
                            </div>
                        </div>

                        <div fxLayout="row wrap" fxFlex="100%" style="margin-top: 12px;">
                            <label [style]="{width: '360px'}" for="appointmentDate">Data da Transferencia</label>
                            <p-calendar [minDate]="minDateVal" (ngModelChange)="onChangeAccountTransference()" [style]="{width: '360px'}" formControlName="appointmentDate" inputId="appointmentDate" dateFormat="dd/mm/yy"></p-calendar>
                            <p-message *ngIf="!frmTransference.controls['appointmentDate'].valid && frmTransference.controls['appointmentDate'].dirty" severity="error" text="A data da transferencia é obrigatorio!"></p-message>
                        </div>

                        <div fxLayout="row wrap" fxFlex="100%" style="margin-top: 12px;">
                            <div class="field">
                                <h5>Taxa:</h5>
                                <p-knob formControlName="tax_pressume" [strokeWidth]="5" inputId="tax_pressume" [readonly]="true" valueTemplate="${{tax | number: '1.1-2' }}"></p-knob>
                            </div>
                        </div>
                        <div fxLayout="row" fxFlex="100%" style="margin-top: 12px;">
                            <p-button type="submit" icon="pi pi-check" label="Confirmar" styleClass="p-button-raised"></p-button>
                        </div>
                    </form>
                </ng-template>
            </p-panel>
        </div>
        <!-- Painel Data/Etc -->
        <div fxFlex.gt-md="70%" fxFlex.gt-sm="100%" fxLayout="row wrap">
            <router-outlet fxFlex="100%">
            </router-outlet>
        </div>
    </div>
</div>