/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    border: none;
    margin: auto;
}
.p-menubar a.p-menubar-button{
    display: none!important;
}